<div class="main-container">
  <div class="container">
    <div class="first">
      <h1>Cocktails list :</h1>
    </div>
    <div class="cards">
      <% @cocktails.each do |cocktail| %>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/1600x900/?cocktail-<%=cocktail.name%>')">
          <p>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe, delete_path(cocktail), method: :delete, data: { confirm: 'Do you REALLY want to destroy this wonderful cocktail?'}, class: 'card-remove-link'%>
          </p>
          <br>
          <%= link_to cocktail.name.capitalize, cocktail_path(cocktail.id) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
