// Specific CSS for your home-page
.home-banner {
  background-image: radial-gradient(rgba(11,156,49,0.2),rgba(11,156,49,0.2)), url('https://medias.spotern.com/spots/w1280/74/74110-1532336916.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  background-position: center;
  height: 95vh;
  color: #eee;
  text-align: center;
  padding-top: 20vh;
  top:10vh;

  h1 {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 40vh;
    position:relative;
    // top: -10vh;
    color: $pink;
  }
}

.pink {
  background-color: $pink;
  border: 1px solid $pink;
  &:hover {
  background-color: white;
  color: $pink;
  border: 1px solid $pink;
  }
}

