<div class="navbar-lewagon">
  <%= link_to "Mister Cocktail", root_path, class: "lien" %>
  <%= image_tag "logo.png", alt: "logo", height: 40 %>
  <%= link_to "create new", new_cocktail_path, class: "btn btn-warning green" %>
</div>
