<div class="home-banner">
<!-- <img src="https://medias.spotern.com/spots/w1280/74/74110-1532336916.jpg" alt="" width=100% > -->
<h1>
  <span id="banner-typed-text"></span>
</h1>
  <%= link_to "check cocktails list", cocktails_path(@cocktail), class: "btn btn-primary pink" %>
</div>
