<h1>MisterCocktail</h1>


<img src="https://medias.spotern.com/spots/w1280/74/74110-1532336916.jpg" alt="">

<%= link_to "create new", new_cocktail_path %>
<br>
<%= link_to "check cocktails list", cocktails_path(@cocktail) %>
