.home-banner {
  background-image: url('https://medias.spotern.com/spots/w1280/74/74110-1532336916.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
