  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }

.cards a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.cards i {
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 190px;
  opacity: 0.8;
    &:hover {
    opacity: 1;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px 0px;
  position: relative;
}
