  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

.cards a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.cards i {
  font-size: 15px;
  opacity: 0.8;
    &:hover {
    opacity: 1;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 10px white;
  margin: 10px 0px 0px 0px;
  position: relative;
}

.first {
  margin-bottom: 30px;
}

.card-remove-link {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: red;
}

.card-dose {
  margin-top: 20px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 2px white;
  display: flex;
  align-items: center;
}

.card-dose img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-dose h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dose p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-dose .card-dose-infos {
  padding: 16px;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 570px) {
  .card-category {
    max-width: 500px;
    height: 100px;
  }
}
