.container {
  margin : 0px auto;
  padding: 10px;
  width: 1100px;
  // background-color: white;
  border-radius: 3px;
    h1 {
    color: white;
    margin-top: 20px;
  }
}


.main-container {
  background-color: #FEE140;
  background-image: linear-gradient(135deg, #FEE140 0%, #FA709A 100%);
  background-size: cover;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.small-container {
  margin : 50px auto;
  padding: 40px;
  width: 500px;
  // background-color: white;
  border-radius: 3px;
h1, label {
  color: white;
}

}


@media(max-width: 600px) {
  .container {
    width: auto;
  }
  .main-container {
    width: auto;
  }
   .small-container {
    width: auto;
    margin: 0px;
    padding-top: 0px;
    .btn-primary  {
      margin-top : 20px;
      &:hover {
      margin-top : 20px;
      background-color: white;
      }
    }
  }
}
